body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.container {
  width: 850px;
  background-color: white;
  display: flex;
  align-items: flex-end;
  padding: 60px 40px;
  border-radius: 5px;
}

#score {
  margin: 10px;
  font-weight: bold;
  font-size: large;
  margin-left: 150px;
}
#score-value {
  margin-left: 10px; /* Adjust margin to create space between "Score" and score value */
}

#game-btn {
  margin: 40px 0 0 0;
}
#next-turn {
  margin-right: 20px;
}
#boxes {
  display: flex;
  flex-direction: row;
  margin: 0;
}

#fortune-box {
  margin: 20px 20px 20px 0;
  height: 50px;
  width: 100px;
  border: 2px solid;
}
#fortune-teller {
  font-weight: bold;
  font-size: 3rem;
  padding: 25px;
  text-align: center;
}

#input {
  font-weight: bold;
  font-size: large;
  margin-top: 20px;
  text-align: center;
  border: 2px solid;
  height: 50px;
  width: 100px;
}

#Solve-btn {
  justify-content: center;
  margin-left: 70px;
}

.word-display {
  display: flex;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 40px;
}
.word-display .letter {
  width: 40px;
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 40px;
  text-transform: uppercase;
  border-bottom: 3px solid #000;
}
#score {
  margin: 10px;
  font-weight: bold;
  font-size: large;
  order: 1; /* Set order to 1 to push it to the right */
}
#guess {
  margin: 10px;
  font-weight: bold;
  font-size: large;
  order: -1; /* Set order to -1 to push it to the left */
}

#game-over-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 20%;
  transform: translate(-50%, -50%); /* Center the popup */
  background-color: white;
  padding: 20px;
  border: 2px solid #ccc;
  z-index: 10;
  text-align: center;
  display: block; /* Initially hidden (matches 'hidden' class in JS) */
}

#playAgain {
  position: absolute; /* Make the button absolute relative to the popup */
  bottom: 20px; /* Position 20px from the bottom */
  left: 38%; /* Center horizontally */
  /* Center the button horizontally within the popup */
  display: flex;
  align-items: center; /* Align button content vertically */
  justify-content: center; /* Align button content horizontally */
  width: 80px;
  height: 30px;
  background-color: rgb(245, 191, 191); /* Adjust button background color */
  color: rgb(231, 26, 26); /* Adjust button text color */
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  display: block;
}
